/* ------------------------------------------------------ */
/* HOME SECTION */
/* ------------------------------------------------------ */

.section-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../images/eric-nopanen-8e0EHPUx3Mo-unsplash.jpg);
  position: relative;
}

.home-text-box {
  position: absolute;
  top: 15%;
  left: 10%;
}

/* ------------------------------------------------------ */
/* LOBBY SECTION */
/* ------------------------------------------------------ */

.section-lobby {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../images/matt-botsford-OKLqGsCT8qs-unsplash.jpg);
  position: relative;
}

.lobby-left-box {
  padding: 25% 15%;
}

.lobby-left-box input[type='text'] {
  color: #5c5c5c;
  border: none;
  margin-bottom: 40px;
}

.lobby-left-box input[type='text']:invalid:not(:focus):not(:placeholder-shown) {
  box-shadow: none;
}

.lobby-left-box input[type='text']:invalid:focus {
  box-shadow: 0 0 5px #1ed760;
}

.make-public-checkbox {
  display: inline;
  vertical-align: middle;
  margin-left: 40px;
}

.lobby-left-box h3 {
  display: inline-block;
  margin-left: 30px;
}

.lobby-left-box button {
  margin-right: 10px;
}

.lobby-right-box {
  padding: 5%;
}
