.search-bar {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

input {
  width: 100%;
  height: 40px;
  padding: 7px 7px 7px 40px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.search-bar i {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
}
