.section-radio {
}

.radio-search {
  padding-top: 30px;
}

.radio-title {
  width: 100%;
  margin-left: 50px;
  padding: 20px 0;
}

.now-playing {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: 10%;
}
