.radio-search {
  padding-top: 30px;
}

.radio-header {
  padding: 20px 0;
}
.radio-header .row div:first-of-type {
  padding-left: 50px;
}

.radio-header .share-radio {
  float: right;
}

.now-playing {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: 10%;
}
