.radio-header {
  padding: 15px 0;
}

.radio-header .row h3 {
  margin: 3px 0;
}

.radio-header .row div:first-of-type {
  padding-left: 50px;
}

.radio-header .row div:nth-child(2) {
  padding-left: 5%;
}

.radio-header .share-radio {
  float: right;
}

.now-playing {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: 10%;
}

.now-playing .card {
  z-index: 1;
}

.now-playing .play-to-start {
  height: 150px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
  background-color: #ffffffc1;
}

.now-playing .play-to-start .container {
  height: 150px;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  cursor: pointer;
}

.now-playing .play-to-start .container h3 {
  font-weight: 600;
}

.now-playing .play-to-start .container:hover {
  color: #1ed760;
}

.now-playing .play-to-start i {
  margin-top: 10px;
  font-size: 350%;
}

.now-playing .mute-button {
  position: absolute;
  top: 10px;
  right: -30px;
}

.right-panel {
  margin: 0 3% 0 7%;
}

.component-selector {
  height: 20px;
  margin-bottom: 10px;
}

.component-selector span {
  cursor: pointer;
  padding: 2px 20px 0 20px;
  margin: 0 1px;
  border-top: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-radius: 10px 10px 0 0;
}

.component-selector span:hover {
  font-weight: 400;
}

.component-selector .selected {
  color: #1ed760;
}

.radio-chat .chat-box {
  width: 100%;
  height: calc(100vh - 260px);
  padding: 5px 10px;
  box-shadow: inset 0 0 5px 2px #d6d6d6;
  border-radius: 10px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column-reverse;
  list-style: none;
}

.radio-chat .chat-box li span:first-of-type {
  font-weight: 500;
  color: #6b6b6b;
}

.radio-chat .chat-box li .chat-message-container {
  display: inline-block;
  width: calc(100% - 60px);
  margin-top: 10px;
}

.radio-chat .chat-box li img {
  vertical-align: top;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
}

.radio-chat .chat-box li i {
  vertical-align: top;
  padding: 3px;
  height: 30px;
  width: 30px;
  margin: 5px;
}

.radio-chat input {
  margin-top: 20px;
}

.filling-chat li {
  animation-name: filling-chat-animation;
  animation-duration: 1s;
}

.chat-refresh li {
  transform: translateY(100%);
}

@keyframes filling-chat-animation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.full-chat-refresh li {
  transform: translateY(0%);
}

.full-chat li {
  transform: translateY(-100%);
  animation-name: full-chat-animation;
  animation-duration: 1s;
}

@keyframes full-chat-animation {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
